/*tamaño de letra*/
.font-50{
	font-size: 50px;
}
/*margin top*/
.mgt-30{
	margin-top: 30px;
}
/*fondo negro*/
.bg-negro{
	background:black;
}
/*fondo blanco*/
.bg-blanco{
	background:white;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}
/*margin top*/
.mgt-5{
	margin-top: 5px;
}
/*tamaño de letra*/
.font-40{
	font-size: 40px;
}
/*margin top*/
.mgt-20{
	margin-top: 20px;
}
.font-12{
	font-size: 12px;
}
.pl5{
	padding-left: 5px;
}
.font-14{
	font-size: 14px;
}
.auto{
	margin: auto;
}
.pt-50{
	padding-top: 50px;
}
.pb-80{
	padding-bottom: 80px;
}
.link{
	color: purple;
}
.italic{
	font-style: italic;
}
.font-20{
	font-size: 20px;
}
.font-30{
	font-size: 30px;
}
.pb-50{
	padding-bottom: 50px;
}
.open{
	font-family: 'Open Sans', sans-serif;
}
.dosis{
	font-family: 'Dosis', sans-serif;
}
.light{
	font-weight: 100;
}
.robot{
	font-family: 'Roboto Slab', serif;
}
.mgt-80{
	margin-top: 80px;
}
.font-12{
	font-size: 12px;
}
.bg-rojo{
	background: red;
}