/*espacio entre titulos de menu*/
.pr-20{
	padding-right: 20px;
}
/*quita viñetas*/
ul{
	list-style-type: none;
}
/*cambia de color al pasar el mouse*/
.rojo:hover {
	color: red;
}
.negro:hover {
	color: black;
}
/*ancho del menu*/
nav{
	height: 80px;
}
/*bordes de botones*/
.forma{
	width: 150px;
	border-radius: 50px;
	background-color: gray;
	padding: 10px;
}
.linea{
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

